#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    flex-grow: 1;
    overflow: auto;
}

.search input,
.search select {
    border-radius: 0;
}

.search input {
    min-height: unset;
}

.clip-list > hr {
    border: 1px inset;
    margin: 0;
}

.clip-item {
    border: 0.25rem solid transparent;
    border-radius: 0.5rem;
}

.clip-item:hover {
    border: 0.25rem solid #86b7fe !important;
}

.clip-item.selected {
    border: 0.25rem solid #86b7fe !important;
}

.clip-item > div {
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
}

.clip-number {
    font-weight: bold;
}

.clip-content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip-content > * {
    max-height: 10rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip-item .clip-trash {
    display: none;
}

.clip-item:hover .clip-trash {
    display: flex;
}

.clip-trash > button {
    border: 0;
    background-color: transparent;
    color: red;
}
