/* body {
    -webkit-app-region: drag;
} */

.clip-number,
.clip-content {
    vertical-align: middle;
    margin: 0;
}

.clip-number {
    width: 1%;
    padding: 0.25rem;
    padding-right: 1rem;
}

.clip-content {
    padding: 0.5rem;
}

.clip-content > * {
    max-width: 100%;
    max-height: 10rem;
    overflow: hidden;
    margin: 0;
}

.clip-item:hover {
    background-color: CadetBlue;
}
