#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Horizontal padding so to not clip it them borders */
    padding: 0 2px;
}

main {
    flex: 1;
    flex-grow: 1;
    overflow: auto;
}

.search input,
.search select {
    border-radius: 0;
}

.search input {
    min-height: unset;
}

.clip-list > hr {
    border: 1px inset;
    margin: 0;
}

.clip-item {
    border: 0.25rem solid transparent;
    border-radius: 0.5rem;
}

.clip-item:hover {
    border: 0.25rem solid #b5d4ff;
}

.clip-item.selected {
    border: 0.25rem solid #86b7fe;
    outline: 1px solid black;
    outline-offset: -1px;
}

.clip-item > div {
    padding: 0 0.5rem;
    align-items: center;
}

.clip-hint {
    font-weight: bold;
}

.clip-content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip-content-text,
.clip-content-image > img {
    max-height: 10rem;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip-name {
    text-align: center;
    background-color: #f0f0f0;
    color: #000000;
    font-weight: 600;
    margin-top: 0.2rem;
}

.clip-name + .clip-content-image {
    margin-top: 0.4rem;
}

button.icon-btn {
    font-size: 0.75rem;
    -webkit-app-region: no-drag;
    border: 0;
    height: 1.5rem;
    background-color: transparent;
    color: #171717;
    padding: 0 1rem;
}

button.star-btn {
    color: #dddddd;
}

button.star-btn.active {
    color: gold;
}

@media (prefers-color-scheme: dark) {
    body,
    input.form-control,
    input.form-control:focus,
    input.form-control::placeholder,
    select.form-select,
    .input-group-text {
        background: #333;
        color: #f0f0f0;
    }

    main {
        scrollbar-color: #f0f0f0 #333;
    }

    button.icon-btn {
        color: #f0f0f0;
    }
}
