header,
footer {
    display: flex;
    background-color: #f0f0f0;
    border-width: 1px;
    border-color: #d0d0d0;
}

header {
    border-bottom-style: solid;
}

footer {
    border-top-style: solid;
}

header button.active,
footer button.active {
    color: DodgerBlue;
}

header {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}

.title {
    flex: 1;
    pointer-events: none;
    text-align: center;
}

.title > button.icon-btn {
    pointer-events: auto;
    font-size: 1rem;
}

.title svg {
    font-size: 0.5rem;
}

.title.padding-left {
    padding-left: 2.75rem;
}
.title.padding-right {
    padding-right: 2.75rem;
}

header button:hover,
footer button:hover {
    background-color: #dddddd;
}
header button:active,
footer button:active {
    background-color: #c0c0c0;
}

#close-btn:hover {
    background-color: #e81123;
    color: #ffffff;
}
#close-btn:active {
    background-color: #f1707a;
}

@media (prefers-color-scheme: dark) {
    header,
    footer {
        background: #333;
        color: white;
    }
}
