#titlebar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
    height: 2rem;
    border-bottom: 1px solid #d0d0d0;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
}

#title {
    position: relative;
    pointer-events: none;
    height: 100%;
    text-align: center;
    padding-top: 0.25rem;
}

#titlebar-btns-left,
#titlebar-btns-right {
    position: fixed;
    top: 0;
    height: 100%;
    -webkit-app-region: no-drag;
}

#titlebar-btns-left {
    left: 0;
    font-size: 0.75rem;
}

#titlebar-btns-right {
    right: 0;
    font-family: "Segoe MDL2 Assets";
    font-size: 0.6rem;
}

#titlebar button {
    border: 0;
    height: 2rem;
    vertical-align: middle;
    background-color: transparent;
    color: #171717;
    padding: 0 1rem;
}

#titlebar button:hover {
    background-color: #dddddd;
}
#titlebar button:active {
    background-color: #c0c0c0;
}

#titlebar #close-btn:hover {
    background-color: #e81123;
    color: #ffffff;
}
#titlebar #close-btn:active {
    background-color: #f1707a;
}
