header,
footer {
    display: flex;
    background-color: #f0f0f0;
    border-width: 1px;
    border-color: #d0d0d0;
}

header {
    border-bottom-style: solid;
}

footer {
    border-top-style: solid;
}

header > .buttons,
footer > .buttons {
    font-size: 0.75rem;
    -webkit-app-region: no-drag;
}

header {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}

.title {
    flex: 1;
    pointer-events: none;
    text-align: center;
    padding-top: 0.25rem;
}

header button,
footer button {
    border: 0;
    height: 2rem;
    background-color: transparent;
    color: #171717;
    padding: 0 1rem;
}

header button:hover,
footer button:hover {
    background-color: #dddddd;
}
header button:active,
footer button:active {
    background-color: #c0c0c0;
}

#close-btn:hover {
    background-color: #e81123;
    color: #ffffff;
}
#close-btn:active {
    background-color: #f1707a;
}
